<table border=1 >
    <tr>
    <td> Id </td>
    <td> Username </td>
    <td> Email </td>
    <td> nb Books </td>
    </tr>
    {% for author in list %}
    <tr>
     <td> {{ author.id }}</td>
     <td> {{ author.Username | capitalize }}</td>
     <td>  {{ author.emailAdress }}</td>
     <td> {{ author.nbBooks }}</td>
    </tr>
    {% endfor %}
    </table>