<ul>
    <li>
        Id de l'auteur : {{ author.id }}
        </li> 
   <li>
Username de l'auteur : {{ author.username }}
</li> 
<li>
Email : {{ author.emailAdress }}
</li> 
<li>
<p>Nombre de livres publiés : {{ author.nbBooks }}</p>
</li> 
</ul>